@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono&family=Roboto:wght@300;400;500&display=swap');

:root {
  --action: #104b68;
  --dull: #518ca883;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    height: 100%;
}
.page{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#dde9f0, #77c6ef);
}
.front-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 10% 0 5%;
}
.front-page .error-toast {
  position: absolute;
  background-color: #ffffffc2;
  padding: 8px 10px;
  border-radius: 20px;
  font-family: 'Nunito', sans-serif;
  color: #01013b;
  top: 28vh;
  animation: blink 5s 1 forwards;
  display: none;
}

@keyframes blink{
  0% {
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.front-page .spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  display: none;
}
.front-page .heading{
  height: 50vh;
  max-width: 200px;
  min-width: 150px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:'Roboto condensed', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  color: var(--action);
}
.heading .first-line{
  align-self: flex-start;
}
.heading .second-line{
  align-self: flex-end;
}
.input-area{
  width: 70%;
  max-width: 450px;
  text-align: center;
}
.input-area .value-input, .input-area button{
  padding: 10px 5px;
  border: 1px solid white;
  font-weight: bolder;
  font-size: 16px;
}
.value-input{
  width: 100%;
  margin-bottom: 20px;
  color: var(--action);
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
}
.input-area button{
  border-radius: 10px;
  padding: 9px 0;
  background-color:var(--action);
  color: white;
  cursor: pointer;
  transition: background-color 0.4s ease;
  outline: none;
  width: 100%;
  border: none;
  font-family: 'Roboto condensed', sans-serif;
}
.input-area button:hover{
  background-color:#01013bd7;
}
.input-area button:active{
  background-color:#1818b99a;
}
.front-page .instruction{
  width:80%;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the quiz view */
.quiz-container{
  position: absolute;
  transform: translateX(-100%);
  padding: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
}
/* the top bar */
.quiz-container .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* the quit btn */
.top-bar .quit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 10px;
  cursor: pointer;
  color: var(--action);
  flex: .5;
}
/* score bar*/
.top-bar .score-bar {
  flex: 9.5;
  background-color: var(--dull);
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: 'Roboto mono', sans-serif;
}
.top-bar .score-bar  div {
  display: flex;
  align-items: center;
}
.score-bar .value {
  font-size: 1.4rem;
  padding-left: 4px;
}

/* question field */
.quiz-container .question-field {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--action);
  border-radius: 5px;
}
.question-count-bar{
  width: fit-content;
  font-size: 1.2rem;
  text-transform: capitalize;
  align-self: flex-start;
  font-family: 'Roboto mono', sans-serif;
}
.question-text-container{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.question-text-container .category {
  text-transform: capitalize;
}
.question-text-container .question-text{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
/* options */
.options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}
.option{
  position: relative;
  height: 100%;
}
.option input {
  position: absolute;
  opacity: 0;
}
.option label {
  background-color: var(--dull);
  display: block;
  padding: 25px 15px;
  cursor: pointer;
  border: 1px solid transparent;  
  border-radius: 5px;

}
/* label hover */
.option label:hover {
  color: var(--action);
  border-color: var(--action);
}
/* for disabled labels */
.option input:disabled + label {
  cursor: not-allowed;
  color: #ddd;
  border: none;
}
/* label for checked option */
.option input:checked + label {
  background-color: var(--action);
  color: #fff;
}
/* correct and wrong checked option */
.option.correct input + label {
  background-color: #00C07F;
  border-color: #00C07F;
}
.option.wrong input:checked + label {
  background-color: #FF6562;
  border-color: #FF6562;
}

/* quiz check and action btns */
.question-btn-container{
  max-width: 700px;
  margin: 25px auto 0; 
  display: flex;
  justify-content: space-between;
}
.question-btn-container button{
  margin-top: 10px;
  padding: 12px 20px;
  border:  none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 4px 4px #33333377;
  border-radius: 10px;
  margin: 5px;
  font-size: 0.75rem;
  color:#fff;
  font-family: 'Roboto condensed', sans-serif;
} 
.question-btn-container button i {
  padding: 3px;
}
/* check btn */
.question-btn-container .check-btn {
  background-color: var(--dull);
}
/* action btn */
.question-btn-container .action-btn {
  background-color: var(--action);
  margin-left: auto;
}
.question-btn-container .action-btn:hover{
  background-color:#01013bd7 ;
}
.question-btn-container .action-btn.submit-btn {
  display: none;
}

/* RESULT */
.page.result-page{
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
}
.result-modal{
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    width: 50%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    transition: transform 0.1s ease;
    padding: 15px;
}
.modal-name{
    align-self: flex-start;
    font-size: 18px;
    color: rgba(1, 1, 59, 0.788);
    font-weight: 600;
}
.result-modal .img-container{
    width: 50%;
    margin: 5px auto;
}
.result-modal img{
    width: 100%;
}
.modal-score {
    font-family: 'Roboto condensed', sans-serif;
    font-size: 23px;
    margin: 2px 0;  
    color: var(--action);
    font-weight: 500;
}

.modal-comment {
    font-weight: bold;
    font-size: 14px;
    color: var(--dull);
    text-align: center;
}
.quiz-number{
    color: var(--action);
}
.result-modal button{
  margin-top: 20px;
  align-self: flex-end;
  padding: 10px 15px;
  border:  none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 0.75rem;
  color:#fff;
  font-family: 'Roboto condensed', sans-serif;
  background-color: var(--action);
}
.result-modal button:hover{
  background-color:#01013bd7 ;
}
@media screen and (max-width: 450px){
    .modal-name{
        font-size: 14px;
    }
    .modal-score {
        font-size: 17px;
    }
    .modal-comment {
        font-size: 13px;
    }
    .result-modal button{
        align-self: center;
    }
}